<h1>Create a Team and Heroes!</h1>

<label for="team_name">Team Name:</label>
<input type="text" id="team_name" name="team[name]"></br>
<label for="team_motto">Team Motto:</label>
<input type="text" id="team_motto" name="team[motto]">

<h2>Hero 1</h2>
<label for="hero1_name">Hero's Name:</label>
<input type="text" id="hero1_name" name="team[hero][][name]"></br>
<label for="hero1_power">Hero's Power:</label>
<input type="text" id="hero1_power" name="team[hero][][power]"></br>
<label for="hero1_biography">Hero's Biography:</label>
<input type="text" id="hero1_biography" name="team[hero][][biography]">

<h2>Hero 2</h2>
<label for="hero2_name">Hero's Name:</label>
<input type="text" id="hero2_name" name="team[hero][][name]"></br>
<label for="hero2_power">Hero's Power:</label>
<input type="text" id="hero2_power" name="team[hero][][power]"></br>
<label for="hero2_biography">Hero's Biography:</label>
<input type="text" id="hero2_biography" name="team[hero][][biography]">

<h2>Hero 3</h2>
<label for="hero3_name">Hero's Name:</label>
<input type="text" id="hero3_name" name="team[hero][][name]"></br>
<label for="hero3_power">Hero's Power:</label>
<input type="text" id="hero3_power" name="team[hero][][power]"></br>
<label for="hero3_biography">Hero's Biography:</label>
<input type="text" id="hero3_biography" name="team[hero][][biography]"></br>

<input type="submit" value="submit">

