<h1> Create a Team and Heroes! </h1>

<form action="/teams" method="post">
    Team Name: <input id="team_name" type="text" name="team[name]"> <br>
    Team Motto: <input id="team_motto" type="text" name="team[motto]"> <br>
    Hero 1 Name: <input id="member1_name" type="text" name="team[heros][][name]"> <br>
    Hero 1 Power: <input id="member1_power" type="text" name="team[heros][][power]"> <br>
    Hero 1 Biography: <input id="member1_bio" type="text" name="team[heros][][biography]"> <br>
    Hero 2 Name: <input id="member2_name" type="text" name="team[heros][][name]"> <br>
    Hero 2 Power: <input id="member2_power" type="text" name="team[heros][][power]"> <br>
    Hero 2 Biography: <input id="member2_bio" type="text" name="team[heros][][biography]"> <br>
    Hero 3 Name: <input id="member3_name" type="text" name="team[heros][][name]"> <br>
    Hero 3 Power: <input id="member3_power" type="text" name="team[heros][][power]"> <br>
    Hero 3 Biography: <input id="member3_bio" type="text" name="team[heros][][biography]"> <br>
    <input id="submit" type="submit">
</form> 