<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <input type="text" id="team[name]" name="team[name]">
  <input type="text" id="team[motto]" name="team[motto]">
  <input type="text" id="member1_name" name="team[members][][name]">
  <input type="text" id="member1_power" name="team[members][][power]">
  <input type="text" id="member1_bio" name="team[members][][bio]">
  <input type="text" id="member2_name" name="team[members][][name]">
  <input type="text" id="member2_power" name="team[members][][power]">
  <input type="text" id="member2_bio" name="team[members][][bio]">
  <input type="text" id="member3_name" name="team[members][][name]">
  <input type="text" id="member3_power" name="team[members][][power]">
  <input type="text" id="member3_bio" name="team[members][][bio]">
  <input type="submit" id="submit">
</form>
