<h1>Create a Team and Heroes!</h1>
 <form action="/teams" method="post">
    <label for="team_name">Team Name: </label>
      <input  id="team_name" type="text" name="team[name]"></input><br>
    <label for="Team_motto">Team Motto: </label>
      <input id="Team_motto" type="text" name="team[motto]"></input><br>
  <h2>Hero 1</h2>
    <label for="member1_name">Hero's Name: </label>
      <input id="member1_name" type="text" name="team[members][][name]"></input><br>
    <label for="member1_power">Hero's Power: </label>
      <input id="member1_power" type="text" name="team[members][][power]"></input><br>
    <label for="member1_bio">Hero's Biography: </label>
      <input id="member1_bio" type="text" name="team[members][][biography]"></input><br>
  <h2>Hero 2</h2>
    <label for="member2_name">Hero's Name: </label>
      <input id="member2_name" type="text" name="team[members][][name]"></input><br>
    <label for="member2_power">Hero's Power: </label>
      <input id="member2_power" type="text" name="team[members][][power]"></input><br>
    <label for="member2_bio">Hero's Biography: </label>
      <input id="member2_bio" type="text" name="team[members][][biography]"></input><b>
  <h2>Hero 3</h2>
    <label for="member3_name">Hero's Name: </label>
      <input id="member3_name" type="text" name="team[members][][name]"></input><br>
    <label for="member3_power">Hero's Power: </label>
      <input id="member3_power" type="text" name="team[members][][power]"></input><br>
    <label for="member3_bio">Hero's Biography: </label>
      <input id="member3_bio" type="text" name="team[members][][biography]"></input><br>
  <br>
    <button type="submit">submit</button>

 </form>
