<p>Create a Team and Heroes!</p>
<form action="/teams" method="post">
Team Name: <input type="text" name="team[name]">
Team Motto: <input type="text" name="team[motto]">
Team Member_1: <input type="text" name="member1_name">
Team Member_1 Power: <input type="text" name="member1_power">
Team Member_1 Bio: <input type="text" name="member1_bio">
Team Member_2: <input type="text" name="member2_name">
Team Member_2 Power: <input type="text" name="member2_power">
Team Member_2 Bio: <input type="text" name="member2_bio">
Team Member_3: <input type="text" name="member3_name">
Team Member_3 Power: <input type="text" name="member3_power">
Team Member_3 Bio: <input type="text" name="member3_bio">
<input type="submit" value="submit"/>
</form>