<h2>Create a Team and Heroes!</h2>
  <form method="get" action="/super_hero">
    Team Name: <input type="text" name="team[name]">
    Team Motto: <input type="text" name="team[motto]">

<h3>Hero 1</h3>

   Hero's Name: <input type="text" name="member1_name[name]">
   Hero's Power: <input type="text" name="member1_power[power]">
   Hero's Biography:  <input type="text" name="member1_biography[biography]">

<h3>Hero 2</h3>

   Hero's Name: <input type="text" name="member2_name[name]">
   Hero's Power: <input type="text" name="member2_power[power]">
   Hero's Biography:  <input type="text" name="member2_biography[biography]">

<h3>Hero 3</h3>

   Hero's Name: <input type="text" name="member3_name[name]">
   Hero's Power: <input type="text" name="member3_power[power]">
   Hero's Biography:  <input type="text" name="member3_biography[biography]">

   <input type="submit" value="Submit">
    
  </form>


