<form method="get" action='/'>
  <h1>Create a Team and Heroes!</h1>
<label for="name">Team Name:</label>
  <input type="text" id="name"><br>
<label for="motto">Team Motto:</label>
  <input type="text" id="motto"><br>
  <h2> Hero 1</h2>
<label for="super hero[name]">Hero's Name:</label>
  <input type="text" id="super hero[name][]"><br>

  <h2> Hero 2</h2>
<label for="super hero[name]">Hero's Name:</label>
  <input type="text" id="super hero[name][]"><br>

  <h2> Hero 3</h2>
<label for="super hero[name]">Hero's Name:</label>
  <input type="text" id="super hero[name][]"><br>

  <input type="submit">
</form>
