<body>
<h1> Welcome to the Superhero form</h1>
<h2>Please fill out all the info</h2>
<form method="post" action="/filled">
  <label for="team_name">Team Name:</label><input type="text" id="team_name" name="team">
  <button type="submit">Submit me!!</button>
</form>
</body>
