<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
    <p>Team Name: <input id="team[name]" type="text" name="team[name]"></p>
    <p>Team Motto: <input id="team[motto]" type="text" name="team[motto]"></p>

    <p>Hero Name: <input id="member1_name" type="text" name="team[members][][name]"></p>
    <p>Hero Power: <input id="member1_power" type="text" name="team[members][][power]"></p>
    <p>Hero Bio: <input id="member1_bio" type="text" name="team[members][][bio]"></p>

    <p>Hero Name: <input id="member2_name" type="text" name="team[members][][name]"></p>
    <p>Hero Power: <input id="member2_power" type="text" name="team[members][][power]"></p>
    <p>Hero Bio: <input id="member2_bio" type="text" name="team[members][][bio]"></p>

    <p>Hero Name: <input id="member3_name" type="text" name="team[members][][name]"></p>
    <p>Hero Power: <input id="member3_power" type="text" name="team[members][][power]"></p>
    <p>Hero Bio: <input id="member3_bio" type="text" name="team[members][][bio]"></p>
    
    <p><input id="submit" type="submit"></p>
</form>