<!-- <form method="post" action"/team" >

<h1> Create a Team and Heroes! </h1>

  <h3>Team Name: <input type="text" name="team[name]"> <%= @name %> </h3>
  <h3>Team Motto: <input type="text" name="team[motto]"> <%= @motto %> </h3>

    <h2>Hero 1</h2>
      <h3>Hero's Name: <input type="text" name="team[hero][][name]"> <% @hero_name %> </h3>
      <h3>Hero's Power: <input type="text" name="team[hero][][power]"> <% @hero_power %>  </h3>
      <h3>Hero's Biography: <input type="text" name="team[hero][][biography]"> <% @hero_biography %>  </h3>
    <br>

    <h2>Hero 2</h2>
    <h3>Hero's Name: <input type="text" name="team[hero][][name]"> <% @hero_name %> </h3>
    <h3>Hero's Power: <input type="text" name="team[hero][][power]"> <% @hero_power %>  </h3>
    <h3>Hero's Biography: <input type="text" name="team[hero][][biography]"> <% @hero_biography %>  </h3>
    <br>

    <h2>Hero 3</h2>
    <h3>Hero's Name: <input type="text" name="team[hero][][name]"> <% @hero_name %> </h3>
    <h3>Hero's Power: <input type="text" name="team[hero][][power]"> <% @hero_power %>  </h3>
    <h3>Hero's Biography: <input type="text" name="team[hero][][biography]"> <% @hero_biography %>  </h3>

    <input type="submit" value="submit" id="Submit">

</form> -->
